@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.heading{
    font-family: 'Bungee Outline', cursive;
    margin-top: 0;
}

.personSection h4{
    margin-bottom: 0;
}

.loading{
    color: #fff;
    font-size: 2rem;
}