@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nanum+Gothic:wght@700&display=swap');


body{
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  background-image: url(https://cdn.hipwallpaper.com/i/36/49/3nOQsb.jpg);
  background-color: #000;
  color: #FCBB20
}

.App{
  margin: auto 3rem;
  text-align: center;
}

